.login-main{
    background-image: linear-gradient( #2b2240,#d1c7eb, #1e114a);
    height: 800px;
    width: 60%;
    margin:0 auto;
    margin-top: 30px;
}
.login-form{
    width: 70%;
    height:auto;
    font-size: 35px;
    margin: 0 auto;
    background-color: #e5def5;
    position:relative;
    top:23%;
    border-radius: 10px ;
   
}
.login-in{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login-in>div{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.login-button{
    width: 30%;
    position: relative;
    margin-bottom: 60px !important;
}
.lo-reg{
    width: 40%;
    display: flex;
    justify-content:space-around ;
    position: relative;
    left: 20%;
    padding-bottom: 30px;
    font-size: 22px ;
}
@media(max-width:1100px){
    .lo-reg{
        font-size: 15px;
    }
    
}
@media(max-width:800px){
    .login-main{
        height: 400px;
    }.login-form{
        font-size: 10px;
    }
    .login-button{
        font-size: 8px !important;
        width: 20% !important;
    }
    .lo-reg{
        font-size: 10px;
    }

}
@media (max-width:500px) {
    .lo-reg{
        flex-direction: column;
    }
    
}